{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="container">
    <form id="new_post" action="#">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">
              <strong>New Post</strong>
          </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
</div>

<div id="user_profile">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title" id="username" data-user_id="">Username</h5>
      <p class="card-text" id="followers">Followers: 0</p>
      <p class="card-text" id="following">Following: 0</p>
      <button href="#" class="btn btn-primary" id="follow">Follow</button>
      <button href="#" class="btn btn-primary" id="unfollow">Unfollow</button>
    </div>
  </div>
</div>

<div class="paginator_buttons">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" id="previous">Previous</button>
    <button type="button" class="btn btn-secondary" id="next">Next</button>
  </div>
</div>

<div class="post">
</div>

<script src="{% static 'network/index.js' %}"></script>
{% endblock %}